*{
    font-size: 150%
}
div,table,tr,td{
    font-size: inherit;
}
div p {
    background-color: silver;
    text-align: center;    
}
.table {
    display:table-cell;
    vertical-align: bottom;
    background-color: blue;
    /*without height it will not work !!*/
    height: 200px;
}
.block{
    display: block;
    background-color: blue;
        /*without height it will not work !!*/
    height: 200px;
    position: relative;
}
.block p{
    position: relative;
    margin: auto 0px;
}
td{    
    vertical-align: bottom;
}
td p {
    background-color: silver;
}
td {
    background-color: blue;
    height: 150px;
}

/*working with div : display cell-table and vertical-alignment:bottom.
working with div display regular as block and setting line_height one pixel more then font_size and then use vertical alignment
*/